body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(46, 197, 197);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin-top: auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  max-width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px 5px;
}

p {
  font-size: larger;
  text-align: center;
}

.button-section {
  display: grid;
  gap: 15px;
  margin: 10px 0;
}

.answer-button {
  padding: 10px 5px;
  background-color: rgb(25, 211, 211);
  border: 1px solid black;
  cursor: pointer;
}

.answer-button:hover:not([disabled]) {
  border-color: white;
}

.answer-button:disabled {
  cursor: no-drop;
}

.button-correct {
  background-color: rgb(144, 238, 153);
  border: 1px solid black;
}

.button-incorrect {
  background-color: rgb(238, 106, 106);
  border: 1px solid black;
}

.home-btn {
  display: flex;
  justify-content: left;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 5px;
  background-color: whitesmoke;
  border: 1px solid black;
  cursor: pointer;
}

.button {
  font-size: 40px;
  font-weight: bold;
  padding: 10px 10px;
  background-color: whitesmoke;
  border: 1px solid black;
  cursor: pointer;
}

.button:hover {
  border-color: white;
}

.points {
  font-size: 24px;
  font-weight: bold;
}

#points-num {
  padding-left: 5px;
}

.question-total {
  display: flex;
  justify-content: right;
}

.hide {
  display: none;
}

#current-question-number {
  margin-right: 7px;
}

footer {
  background-color: whitesmoke;
  margin-top: auto;
  width: 100%;
}

.social {
  text-align: center;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.social i {
  margin-right: 40px;
  font-size: 280%;
  color: rgb(1, 12, 12);
  align-items: center;
}