body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 600px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px 5px;
}

p {
    font-size: larger;
    text-align: center;
}

.button-section {
    display: grid;
    gap: 15px;
    margin: 10px 0;
}

.button {
    padding: 10px 5px;
    background-color: aqua;
    border: 1px solid black;
}

.button:hover:not([disabled]) {
    border-color: white;
}

.button:disabled {
    cursor: no-drop;
}

.button-correct {
    background-color: lightgreen;
    padding: 10px 5px;
    border: 1px solid black;
}

.button-incorrect {
    background-color: red;
    padding: 10px 5px;
    border: 1px solid black;
}

.home-btn {
    display: flex;
    justify-content: left;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 5px;
    background-color: aliceblue;
    border: 1px solid black;
}

.start-button,
.next-button {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 10px;
    background-color: aliceblue;
    border: 1px solid black;
}

.start-button:hover {
    border-color: white;
}

.next-button:hover {
    border-color: white;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.points {
    font-size: 24px;
    font-weight: bold;
}

#points-num {
    padding-left: 5px;
}

.hide {
    display: none;
}